<img src="https://raw.githubusercontent.com/rhatiro/Curso_EBAC-Profissao_Cientista_de_Dados/main/ebac-course-utils/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Profissão: Cientista de Dados**
### **Módulo 3** | Elementos básicos de Python e Numpy - Parte II

Aluno [Roberto Hatiro Nishiyama](https://www.linkedin.com/in/rhatiro/)<br>
Data: 09 de fevereiro de 2023.

---

In [1]:
import numpy as np

### 1) Alturas  
i. No trecho de código abaixo, crie um ndarray chamado ```altura_em_centimetros``` transformando a lista ```lista_de_alturas``` em um ndarray do numpy com a função ```np.array()```  
ii. Crie um outro objeto ```altura_em_metros```, com os valores de ```altura_em_centimetros``` convertidos para metros.

In [2]:
lista_de_centimetros = list(range(170, 190, 5))
lista_de_centimetros

[170, 175, 180, 185]

In [3]:
# i.
altura_em_centimetros = np.array(lista_de_centimetros)
altura_em_centimetros

array([170, 175, 180, 185])

In [4]:
# ii.
altura_em_metros = altura_em_centimetros / 100
altura_em_metros

array([1.7 , 1.75, 1.8 , 1.85])

### 2) IMC  
i. Considere que pesos em Kg dessas pessoas, na mesma ortem, estão na lista pesos ```lista_pesos = [70, 75, 80, 85]```. Crie um **ndarray** chamado ```pesos``` com a função ```np.array()``` que contenha esses valores.  
ii. Utilizando o objeto que contém as alturas em metros e esse objeto que contém os respectivos pesos em quilos, calcule o IMC desses indivíduos utilizando a aritmética de arrays e guarde os resultados em um objeto chamado ```imc```.

In [5]:
lista_pesos = [70, 75, 80, 85]
lista_pesos

# seu código aqui

# i.
pesos = np.array(lista_pesos)
pesos

array([70, 75, 80, 85])

In [6]:
# calcule o IMC dessas pessoas

# ii.
imc = np.round(pesos/(altura_em_metros**2), 1)
imc

array([24.2, 24.5, 24.7, 24.8])

### 3) Endividamento

Cálculos de novas variáveis como endividamento total e comprometimento de renda são essenciais para a construção de modelos financeiros em ciência de dados. Áreas não financeiras terão cálculos semelhantes também. Vamos praticar:

Considere que o seguinte ndarray contém os dados de 4 pessoas, total a ser pago a empréstimos mensalmente e renda familiar:

| custo fixo | dívida financeira | renda familiar |
|:----:|:----:|:---|
| 3000  | 1000 | 6000 |
| 2500  | 2500 | 5500 |
| 1000  | 3000 | 7000 |
| 10000 | 5000 | 16000 |

i. Transforme a lista de listas ```dados_financeiros``` no ndarray ```nd_financeiros```.
> ``` dados_financeiros[[3000, 2500, 1000, 10000],[1000, 2500, 3000, 5000],[6000, 5500, 7000, 16000]] ```

ii. Utilize o método ```.transpose ``` e certifique-se de que esse ndarray tenha uma linha por indivíduo e uma coluna por informação. Utilizando a indexação do numpy, imprima no output a segunda linha do array, depois a segunda coluna.

iii. Pratique aritmética com nearrays e calcule o endividamento total como:  

$$endividamento\hspace{.2cm}total = \frac{custo \hspace{.2cm}fixo + dívida\hspace{.2cm}financeira}{renda\hspace{.2cm}familiar}$$

> Guarde os resultados em uma variável chamada ```endividamento_total``` e verifique os resultados imprimindo o conteúdo dessa variável no output.

iv. Considere que há um erro de digitação que precisa ser corrigido: 3o indivíduo na verdade não possui renda familiar de R\\$7.000,00, mas sim R\\$ 10.000,00. Corrija esse valor e refaça os cálculos.

In [7]:
# lista dados_financeiros
dados_financeiros = [[3000, 2500, 1000, 10000],[1000, 2500, 3000, 5000],[6000, 5500, 7000, 16000]]
dados_financeiros

# i) transforme essa lista em um ndarray
nd_financeiros = np.array(dados_financeiros)
nd_financeiros

array([[ 3000,  2500,  1000, 10000],
       [ 1000,  2500,  3000,  5000],
       [ 6000,  5500,  7000, 16000]])

In [8]:
# ii)
nd_financeiros = nd_financeiros.transpose()
nd_financeiros

array([[ 3000,  1000,  6000],
       [ 2500,  2500,  5500],
       [ 1000,  3000,  7000],
       [10000,  5000, 16000]])

In [9]:
nd_financeiros[1,1]

2500

In [10]:
# iii) Calcule o endividamento total
def calcular_endividamento_total(ndarray) -> np.ndarray:
    return np.round((ndarray[:,0]+ndarray[:,1])/ndarray[:,2], 2)

endividamento_total = calcular_endividamento_total(nd_financeiros)
endividamento_total

array([0.67, 0.91, 0.57, 0.94])

In [11]:
# iv) corrigindo um valor específico
nd_financeiros[2,2] = 10000
nd_financeiros

array([[ 3000,  1000,  6000],
       [ 2500,  2500,  5500],
       [ 1000,  3000, 10000],
       [10000,  5000, 16000]])

In [12]:
endividamento_total = calcular_endividamento_total(nd_financeiros)
endividamento_total

array([0.67, 0.91, 0.4 , 0.94])

### 4) É muito comum precisarmos identificar valores especiais e darmos tratamento a eles quer seja alterando-os quer seja descartando-os. 

O trecho de código abaixo gera um ndarray com números pseudo aleatórios. Considere que para efeitos do estudo que virá, devemos desconsiderar valores iguais a zero. Sendo assim:

i) crie um objeto ```bool_zero``` que traga uma sequencia de booleanos do mesmo tamanho que o objeto poi, e que vale ```True``` quando o valor de ```poi``` é zero, e ```False``` caso contrário.

ii) Conte quantos valores zero existem. Lembre-se de que no final das contas, ```True``` vale 1 para o Python, e ```False``` vale zero, então uma boa dica seria usar a função ```sum()```.

iii) Utilize a indexação booleana que você aprendeu para criar uma variável ```poi_nao_zero``` que aponta para os elementos de ```poi``` diferentes de zero. Dica: você vai pode inverter os elementos do objeto que criou em *ii)* ou escrever a comparação adequada.

In [13]:
# objeto poi - obs: o comando np.random.seed(1234) garante que o mesmo resultado será gerado sempre
np.random.seed(1234)
poi = np.random.poisson(3, 100)
poi

array([3, 3, 6, 2, 4, 5, 4, 4, 2, 0, 3, 3, 2, 8, 2, 3, 3, 3, 0, 4, 4, 2,
       6, 6, 0, 3, 4, 3, 5, 2, 1, 3, 2, 2, 3, 2, 4, 4, 5, 7, 3, 5, 3, 3,
       2, 2, 3, 6, 2, 2, 4, 3, 5, 2, 5, 3, 0, 2, 1, 1, 4, 4, 4, 6, 2, 4,
       1, 2, 5, 5, 3, 4, 1, 4, 1, 1, 7, 1, 2, 1, 3, 7, 0, 4, 4, 0, 6, 1,
       3, 4, 2, 5, 4, 5, 5, 3, 4, 6, 8, 2])

In [14]:
# i) crie o objeto bool_zero através do operador ==
bool_zero = poi == 0
bool_zero

array([False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [15]:
# ii) Conte a quantidade de zeros (ou some os elementos de bool_zero)
sum(bool_zero)

6

In [16]:
# iii) utilize a indexação booleana para criar uma seleção de não-zeros
# dica: inverta o objeto bool_zero
poi[np.invert(bool_zero)]

array([3, 3, 6, 2, 4, 5, 4, 4, 2, 3, 3, 2, 8, 2, 3, 3, 3, 4, 4, 2, 6, 6,
       3, 4, 3, 5, 2, 1, 3, 2, 2, 3, 2, 4, 4, 5, 7, 3, 5, 3, 3, 2, 2, 3,
       6, 2, 2, 4, 3, 5, 2, 5, 3, 2, 1, 1, 4, 4, 4, 6, 2, 4, 1, 2, 5, 5,
       3, 4, 1, 4, 1, 1, 7, 1, 2, 1, 3, 7, 4, 4, 6, 1, 3, 4, 2, 5, 4, 5,
       5, 3, 4, 6, 8, 2])

---

# ATIVIDADE 2

Você tem duas strings: ```nome_campo``` e ```nome_cadastro```, uma delas veio através de um campo preenchido pelo usuário, e a outra veio de uma tabela cadastral do sistema. Escreva uma função que compara as duas retornando ```True``` caso sejam iguais e ```False```caso sejam diferentes, sem considerar diferenças de maiúsculas e minúsculas utilizando um dos métodos vistos.

In [17]:
campo = 'Roberto Hatiro Nishiyama'
sistema = 'Roberto Hatiro Nishiyama'

# Solução:

def compara_nome(campo, sistema):
    if campo.upper() == sistema.upper():
        return True
    else:
        return False
    
compara_nome(campo, sistema)

True

---

Tendo como input ```nome```, ```sobrenome``` e ```nome completo```, escreva duas funções que:
> a) identifiquem se o nome e sobrenome estão contidos no nome completo;  
> b) dado verdadeiro na anterior, retorne ```True``` se o nome completo está no formato de citação (sobrenome antes do nome) e ```False``` caso contrário.

In [18]:
nome = 'Roberto Hatiro'
sobrenome = 'Nishiyama'
nome_completo = 'Nishiyama, Roberto Hatiro'

# Função a:
def contem_nome_sobrenome(fullname, name, surname):
    if name in fullname and surname in fullname:        
        return True

# Função b:
def verifica_formato_citacao(fullname, name, surname):
    if contem_nome_sobrenome(fullname, name, surname) == True:
        if fullname == f'{surname}, {name}':
            print('Nome completo está no formato correto de citação (sobrenome antes do nome)')
            return True
        else:
            print('Nome completo NÃO está no formato correto de citação (sobrenome antes do nome)')
            return False
    else:
        print('Nome completo não contém nome ou sobrenome.')
        
verifica_formato_citacao(nome_completo, nome, sobrenome)

Nome completo está no formato correto de citação (sobrenome antes do nome)

True

---